@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300&family=Montserrat:wght@100&family=Playfair+Display&family=Poppins:wght@100&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    box-sizing: border-box;;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    /* justify ----- */
    justify-content: center;
    /* align | */
    align-items: center;
    background-color: rgb(45, 83, 163);
}